@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
    margin: 0;
}

main, #headline {
    margin: 5px;
}

header {
    position: sticky;
    background-color: rgb(48 32 32 / 50%);
    color: white;
}

#headline {
    display: block;
    text-align: center;
    background: #478974;
    margin: 0;
    padding: 5px;
    color: white;
}

.flexProperty {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#websitesName {
    margin-left: 5vh;
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

#navPanel {
    margin-right: 4vh;
}

#navPanel ul {
    list-style-type: none;
    position: relative;
    bottom: 2px;
}

#navPanel ul li {
    display: inline-block;
    margin-left: 15px;
}

.pageLinks, #pageAndIconsPipe {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    position: relative;
    bottom: 4px;
}

.headerIcons {
    position: relative;
    top: 4.5px;
}

footer {
    background-color: black;
    text-align: center;
}

.contactSubmitForm {
    margin-top: 1vh;
    max-width: 420px;
    margin: 50px auto;
}

.feedback-input {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid white;
  transition: all 0.3s;
  padding: 13px;
  margin: 15px 0 5px 0;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid #cc4949;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  width: 100%;
  background: #478974;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  font-weight: 700;
}

[type="submit"]:hover {
  background: #385959;
}

#copyright {
    color: white;
}