@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

:root {
    --text-color: black;
    --background-color: white;

    #aboutUs h1, #productsContainer h1 {
        --border-bottom: 1px solid white;
   }
}

body {
    margin: 0;
    padding: 0;
    color: var(--text-color);
    background-color: var(--background-color);
}

.dark-mode {
    --text-color: white;
    --background-color: black;

    #aboutUs h1, #productsContainer h1 {
        border-bottom: var(--border-bottom);
    }
}

#darkModeToggle {
    border: none;
    color: white;
    background: none;
    position: relative;
    top: 1px;
    left: -2px;
    cursor: pointer;
}

main, #headline {
    margin: 5px;
}

header {
    position: sticky;
    background-color: rgb(48 32 32 / 50%);
    color: white;
    z-index: 5;
}

#headline {
    display: block;
    text-align: center;
    background: #478974;
    margin: 0;
    padding: 5px;
    color: white;
}

.flexProperty {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#websitesName {
    margin-left: 4vh;
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
}

#navPanel {
    margin-right: 2vh;
}

#navPanel ul {
    list-style-type: none;
    position: relative;
    bottom: 2px;
}

#navPanel ul li {
    display: inline-block;
    margin-left: 20px;
}

.pageLinks, #pageAndIconsPipe {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    position: relative;
    bottom: 4px;
}

.pageLinks.active {
    border-bottom: solid 2px;
}

.search-bar {
    padding: 10px;
    margin: 2.8vh -5vh 3vh;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    width: 45vh;
}

.close-button {
    padding: 5px;
    border: none;
    background: none;
    position: relative;
    right: 9px;
    top: 11px;
    width: 40px;
}

.close-icon {
    width: 30px;
    height: 30px;
}

.headerIcons {
    position: relative;
    top: 4.5px;
}

#userDropdown div {
    display: none;
    position: absolute;
    right: 1px;
    top: 7vh;
    background-color: #000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#userDropdown div a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#userDropdown div hr {
    border: none;
    border-top: 1px solid white;
    width: 8.75em;
}

/* index.html */
#videoCarousel {
    width: 101.5%;
    height: 80vh;
    position: relative;
    left: -5px;
    bottom: 13vh;
    overflow: hidden;
}

#bannerPart {
    height: 28em;
}

.video-slide {
    width: 100%;
    height: 100vh;
    position: absolute;
    object-fit: cover;
    transition: opacity 1s ease-in-out;
}

#ontoCarousel {
    position: absolute;
    top: 36%;
    left: 2%;
    color: white;
}

.ontoCarouselsBox {
    margin-left: 5vh;
}

#ontoCarousel span {
    border: solid 1px;
    height: 17em;
    position: absolute;
    top: -1%;
}

#ontoCarousel h1 {
    text-transform: uppercase;
    font-size: 2.5rem;
}

#ontoCarousel button {
    width: 180px;
    border: 2px solid #478974;
    padding: 6px 24px;
    font-size: 1.15em;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    background-color: #478974;
    transition: all 0.45s ease-in-out;
}

#ontoCarousel button:hover {
    background-color: #F1F2F2;
    color: #478974;
}

#ontoCarousel button:active {
    background-color: #478974;
    color: white;
    box-shadow: none;
    outline: 5px auto #478974;
}

#ontoCarousel p {
    font-size: 1.5rem;
}

#productsContainer {
    display: flex;
    flex-direction: column;
}

#productsContainer h1 {
    border-bottom: solid 1px black;
    padding-bottom: 5px;
    margin: 5vh;
}

.leftArrow, .rightArrow {
    color: black;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute; /* Position arrows outside the carousel */
    top: 140%;
    transform: translateY(-50%); /* Center arrows vertically */
    z-index: 15;
}

.leftArrow {
    left: 1%;
}

.rightArrow {
    right: 1%;
}

#productsSlides {
    display: flex;
    justify-content: space-evenly;
}

.productsSlide {
    width: calc(100% / 4); /* Assuming 3 products per slide */
    flex-shrink: 0; /* Prevent slides from shrinking when there's extra space */
    padding: 10px;
    text-align: center;
    box-sizing: border-box; /* Include padding/border in width calculation */
}

.productsSlide img {
    max-width: 80%;
    height: auto; /* Maintain aspect ratio */
}

.productsPrice span {
    margin-right: 2vh;
    text-decoration: line-through;
    color: grey;
}

#allProductsLink {
    text-decoration: none;
    text-align: center;
    color: #478974;
    font-size: 1.25rem;
    margin-top: 1vh;
}

/* Footer */
footer {
    background-color: black;
    text-align: center;
    clear: right;
}

.contactSubmitForm {
    max-width: 420px;
    margin: 50px auto;
}

.feedback-input {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid white;
    transition: all 0.3s;
    padding: 13px;
    margin: 15px 0 5px 0;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}

.feedback-input:focus {
    border: 2px solid #cc4949;
}

textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

[type="submit"] {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    width: 100%;
    background: #478974;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    font-weight: 700;
}

[type="submit"]:hover {
    background: #385959;
}

#copyright {
    color: white;
    padding-bottom: 8px;
}

/* about.html */
#aboutUs h1 {
    border-bottom: solid 2px;
    width: 25%;
    margin: 3vh 0 0 5vh;
    padding-top: 1vh;
}

#aboutUs p {
    font-size: 24px;
}

#aboutUs img {
    position: relative;
    bottom: 3vh;
    right: -5px;
    float: right;
    width: 50%;
    height: 89vh;
    object-fit: cover;
}

.auSections {
    margin: 5vh;
}

#auSection3 p {
    margin-bottom: unset;
}

@media only screen and (max-width: 775px) {

    #websitesName {
        margin: 9px 0 10px 15px;
        z-index: 7;
    }

    #navPanel {
        display: none;
        position: absolute;
        top: 0;
        right: -4vh;
        width: 32vh;
        height: 77.2vh;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 6;
    }

    #navPanel ul {
        list-style: none;
        padding: 0;
        margin-top: 12vh;
    }

    #navPanel ul li {
        margin-bottom: 10px;
        display: block;
        border-bottom: 2px solid;
    }

    #navPanel a, #userDropdown, .search-container, #darkModeToggle {
        display: flex;
        padding: 10px 16.5px;
        color: white;
        cursor: pointer; /* Cursor style */
    }

    .pageLinks {
        border-color: 2px #478974;
    }

    .pageLinks.active {
        display: none;
    }

    #pageAndIconsPipe {
        display: none;
    }

    #userDropdown, .search-container {
        flex-direction: row;
    }

    .burger-menu {
        position: absolute;
        top: 10px;
        right: 3vh;
        cursor: pointer;
        z-index: 7;
    }

    .burger-menu div {
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin: 7px 0;
        transition: all 0.3s ease;
    }
}
