@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

:root {
    --text-color: black;
    --background-color: white;

    #aboutUs h1, .ProductsContainer h1 {
        --border-bottom: 1px solid black;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arimo', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);

    #aboutUs h1, .ProductsContainer h1 {
        border-bottom: var(--border-bottom);
    }
}

.dark-mode {
    --text-color: white;
    --background-color: black;
    --border-bottom: white;

    #aboutUs h1, .ProductsContainer h1 {
        --border-bottom: 1px solid white;
    }
}

#darkModeToggle {
    border: none;
    color: white;
    background: none;
    position: relative;
    top: 1px;
    left: -2px;
    cursor: pointer;
}

.search-container, #userDropdown, #userDropdown div a {
    cursor: pointer;
}

main, #headline {
    margin: 5px;
}
